[submodule "resource/head"]
	path = resource/head
	url = https://github.com/iamchoking/HEAD-URDF
[submodule "resource/raibo2"]
	path = resource/raibo2
	url = git@github.com:railabatkaist/RAIBO2-URDF.git
[submodule "resource/raipal9"]
	path = resource/raipal9
	url = git@github.com:railabatkaist/RAIPAL-URDF.git
	branch = legacy/9-dof
