[submodule "resource/head"]
	path = resource/head
	url = https://github.com/iamchoking/HEAD-URDF
[submodule "resource/raibo2"]
	path = resource/raibo2
	url = git@github.com:railabatkaist/RAIBO2-URDF.git
[submodule "resource/raipal9"]
	path = resource/raipal9
	url = git@github.com:railabatkaist/RAIPAL-URDF.git
	branch = legacy/9-dof
[submodule "resource/raipal"]
	path = resource/raipal
	url = git@github.com:railabatkaist/RAIPAL-URDF.git
	branch = main
[submodule "src/raipal/raipal_solution"]
	path = src/raipal/raipal_solution
	url = git@github.com:railabatkaist/raipal_solution.git
